h3, p, p.li {
  font-family:Tahoma;
}
h3 {
      color: grey;
}
/* Change the color of the Link  */
/* text in the left menu below   */
  p a {
    color: grey;
    text-decoration: underline;
    text-align: left;
  }
